[color]
	ui = auto

[core]
	editor = nvim
	whitespace = -trailing-space

[diff]
	colorMoved = true
	external = difft

[fetch]
	prune = true

[init]
	defaultBranch = main

[maintenance]
	repo = /Users/daominhtien/Dotfiles

[pull]
	rebase = true

[rebase]
	autoStash = true

[rerere]
	autoupdate = true
	enabled = true

[user]
	email = minhitne@gmail.com
	name = minhtien3297
