[user]
	name = minhtien3297
	email = minhitne@gmail.com
[pull]
	rebase = true
[fetch]
  prune = true
[init]
	defaultBranch = main
[diff]
  external = difft
  colorMoved = true
[color]
  ui = auto
[core]
  editor = nvim
  whitespace = -trailing-space
[rebase]
  autoStash = true
[rerere]
  autoupdate = true
  enabled = true
[maintenance]
	repo = /Users/daominhtien/Dotfiles
